/*--------------------OVERRIDE--------------------*/
.navbar {
    /*background: #F12B2B !important;*/
    background: #267eb8 !important;
    height: 90px !important;
}

.nav-search {
    position: absolute;
    top: 6px;
    right: 50px;
    line-height: 24px
}

.ace-nav > li > a {
    background-color: #267eb8 !important;
}

.ace-nav > li > a:hover {
    background-color: #267eb8 !important;
}

.ace-nav > li.open > a {
    background-color: #267eb8 !important
}

input[disabled] {
    color: #848484 !important;
    background-color: #eee !important
}

input[disabled]:hover {
    border-color: #d5d5d5 !important
}

input[readonly] {
    /* 939192 文本颜色 */
    color: #939192;
    /* background 文本框背景色;*/
    background: #ffffff !important;
    cursor: default;
}

input[readonly]:hover {
    border-color: #c3c3c3
}

input[readonly]:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #aaa;
    background-color: #f9f9f9
}

input[type=checkbox].ace:disabled + .lbl::before, input[type=radio].ace:disabled + .lbl::before, input[type=checkbox].ace[disabled] + .lbl::before, input[type=radio].ace[disabled] + .lbl::before, input[type=checkbox].ace.disabled + .lbl::before, input[type=radio].ace.disabled + .lbl::before {
    /*Changed from DDD on 2014-07-30 by Charkey.*/
    background-color: #ffffff !important;
    border-color: #CCC !important;
    box-shadow: none !important;
    color: #BBB
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #ffffff
}

.display-none,
.display-hide {
    display: none;
}

.help-block {
    color: #b94a48;
}

.has-error {
    border-color: #b94a48;
}

.ace-settings-container {
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 12
}

.border-bottom-1px {
    border-bottom: 1px solid #e0e0e0;
}

.border-top-1px {
    border-top: 1px solid #e0e0e0;
}

.border-bottom-2px {
    border-bottom: 2px solid #e0e0e0;
}

.border-top-2px {
    border-top: 2px solid #e0e0e0;
}

.border-rl-none {
    border-right-style: none;
    border-left-style: none;
}

a:hover {
    text-decoration: none !important;
}

#support span {
    color: #fff !important;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative
}

.smscontent span {
    word-break: normal;
    width: auto;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}

/*技术支持样式*/
.tech-support-login {
    position: fixed;
    bottom: 5px;
    left: 44%;
    color: #fff;
}

/*技术支持样式*/
.tech-support-index {
    position: fixed;
    bottom: 5px;
    right: 10px;
}

/*--------------------FORM--------------------*/

.sima-td-input-100 td input {
    width: 100%;
}

/*以下覆盖默认样式*/
input[type=checkbox].ace + .lbl, input[type=radio].ace + .lbl {
    z-index: 9 !important;
}

.sima-custom-table thead > tr > th,
.sima-custom-table tbody > tr > th,
.sima-custom-table tfoot > tr > th,
.sima-custom-table thead > tr > td,
.sima-custom-table tbody > tr > td,
.sima-custom-table tfoot > tr > td {
    padding: 4px !important;
    z-index: 9 !important;
    vertical-align: middle !important;
}

.form-group {
    margin: 0 !important;
}

textarea {
    resize: none !important;
}