<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="Attendance Web System" />
<meta name="author" content="xiangtao" />
<title>考勤管理系统</title>
<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/login.css">
<link rel="stylesheet" href="../assets/css/fonts/fontawesome/css/font-awesome.min.css">

</head>

<body>
	<div class="container">
		<div ng-app="loginApp" ng-controller="validateCtrl" class="form row">
			<form name="loginForm" method="post" role="form" id="login"
				class="smart-green" novalidate>
				<h1>欢迎来到学生考勤管理系统！！</h1>
				<div class="form-group">
					<label for="username">用户名:</label> <input type="text" name="user"
						id="username" autocomplete="off" ng-model="user" required />
					&nbsp;
					<button type="button" class="btn btn-info btn-xs" title="提示"
						data-container="body" data-toggle="popover" data-placement="right"
						data-content="学生S+学号，教师N+工号">?</button>
					<span style="color: red"
						ng-show="loginForm.user.$dirty && loginForm.user.$invalid">
						<span ng-show="loginForm.user.$error.required">请输入用户名</span>
				</div>
				<div class="form-group">
					<label for="c">密码:</label> <input type="password"
						class="form-control input-dark" name="passwd" id="passwd"
						autocomplete="off" ng-model="passwd" required /> <a href="">忘记密码?</a>
					<span style="color: red"
						ng-show="loginForm.passwd.$dirty && loginForm.passwd.$invalid">
						<span ng-show="loginForm.passwd.$error.required">请输入密码。</span>
				</div>
				<div class="form-group">

					<div class="checkbox">
						<label> <input type="checkbox"> 请记住我
						</label>
					</div>

				</div>
				<div class="form-group">
					<input type="button" onclick="location.href='home.html'" class="button-left"  value="登   录"
						ng-disabled="loginForm.user.$dirty && loginForm.user.$invalid ||  loginForm.passwd.$dirty && loginForm.passwd.$invalid">
					<input type="button" id="register_btn" class="button-right"
						value="注  册">
				</div>
			</form>
		</div>

		<div ng-app="registerApp" ng-controller="validate2Ctrl"
			class="form row">
			<form name="registerForm" method="post" role="form" id="register"
				class="smart-green" novalidate>
				<h1>注册用户</h1>
				<div class="form-group">
					<label for="username">学号:</label> <input type="text_register"
						name="user" id="username" placeholder="请输入学号" autocomplete="off"
						ng-model="user" required />
						
				</div>
				<div>
					<label for="password">密码:</label> <input type="password_register"
						class="form-control input-dark" placeholder="请输入密码" name="passwd" id="passwd"
						autocomplete="off" ng-model="passwd" required />

				</div>
				<div class="form-group">
					<label for="email">电话：</label> <input id="tel" placeholder="请输入电话"
						type="text_register" name="tel" required>
				</div>
				<div class="form-group">
					<input type="button" id="back_btn" class="button-left" value="返回">
					<input type="submit" class="button-right" value="注  册">
						
				</div>
			</form>
		</div>
		
		
		
		
	</div>
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>

	
	<script>
	$(function() {
		
		$("[data-toggle='popover']").popover();
		$("#register_btn").click(function() {
			$("#register").css("display", "block");
			$("#login").css("display", "none");
		});
		$("#back_btn").click(function() {
			$("#register").css("display", "none");
			$("#login").css("display", "block");
		});
	});

		var app1 = angular.module('loginApp', []);
		app1.controller('validateCtrl', function($scope) {
			$scope.user = 'admin';
			$scope.passwd = 'admin';
		});
		
		var app2 = angular.module('registerApp', []);
		app2.controller('validate1Ctrl', function($scope) {
			$scope.user = 'admin';
			$scope.passwd = 'admin';
			$scope.tel = '18250152008';
		});
		
	
	</script>
</body>
</html>