<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>考勤管理系统</title>
<!-- Bootstrap Core CSS -->
<link href="../bower_components/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="../assets/css/register.css" rel="stylesheet">
<link href="../bower_components/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<script src="../bower_components/jquery/jquery.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="aw-register-box">
		<div class="mod-head">

			<h1>学生注册</h1>
		</div>
		<div class="mod-body">
			<form ng-app="registerApp" ng-controller="validateCtrl" role="form"
				name="registerForm" method="post" id="register" novalidate>
				<ul>
					<li><input class="form-control" type="text" name="usernum"
						placeholder="请输入您的学号" id="usernum" autocomplete="off"
						ng-pattern="/^N\d{9}$/" ng-model="usernum" required /> <span
						style="color: red" ng-show="registerForm.usernum.$error.pattern">请以N+9位学号注册</span></li>


					<li><input type="password" class="form-control input-dark"
						placeholder="请输入密码" name="passwd" id="passwd" autocomplete="off"
						ng-model="passwd" required /></li>
					<li><input type="password" class="form-control input-dark"
						placeholder="请再次输入密码" name="passwd2" id="passwd2"
						autocomplete="off" ng-model="passwd2" equals="passwd" required />
						<span style="color: red" ng-show="passwd2!=passwd">两次密码不一致</span></li>
					<li><input class="form-control" type="text" name="username"
						placeholder="请输入您的姓名" id="username" autocomplete="off"
						ng-pattern="/[\u4e00-\u9fa5]{2,}/" ng-model="username" required /><span
						style="color: red" ng-show="registerForm.username.$error.pattern">请输入中文姓名</span></li>
					<li><input class="form-control" type="text" name="tel"
						placeholder="请输入11位手机号" id="tel" autocompleoff" ng-model="tel"
						ng-pattern="/^\d{11}$/" required /> <span style="color: red"
						ng-show="registerForm.tel.$error.pattern">请输入11位手机号码</span></li>
					<!-- <li class="aw-register-verify">
						<div class="row">
							<div class="col-lg-6">
								<div class="input-group">
									<input type="text" class="form-control"> <span
										class="input-group-btn">
										<button class="btn btn-default" id="btnSendCode" onclick="sendMessage()">发送验证码</button>	
									</span>
									
								</div>
					
							</div>
					
						</div>
					</li> -->
					<li class="last"><label><input type="checkbox"
							ng-model="agreement_chk" checked="checked" value="agree"
							name="agreement_chk"> 我同意</label> 
							<a data-toggle="modal" data-target="#myModal" class="aw-agreement-btn">用户协议</a>
									<a href ="index.html" class="pull-right">已有账号?</a>
							<!-- 模态框（Modal） -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
							aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">&times;</button>
										<h5 class="modal-title" id="myModalLabel">用户协议</h5>
									</div>
									<div class="modal-body">啦啦啦啦啦啦啦，我是卖报的小行家</div>
								
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal -->
					</li> 
					<li class="clearfix">
						<button class="btn btn-large btn-blue btn-block" id="register_btn"
							ng-disabled="registerForm.$invalid || !agreement_chk">注册</button>
					</li>
				</ul>
			</form>
		</div>
		<div class="mod-footer"></div>
	</div>
	<script src="../assets/js/register.js" type="text/javascript"></script>
</body>
</html>