<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>studentAdd</title>
<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="../assets/css/add.css">
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../assets/js/iconfont.js"></script>
</head>
<body>
<div class="">
	<form name="registerForm" method="post" role="form" id="register"
				class="smart-green" novalidate>
				<h1>学生添加</h1>
				<div class="form-group">
					<label for="username">学号:</label> <input type="text_register"
						name="user" id="username" placeholder="请输入学号" autocomplete="off"
						ng-model="user" required />
						
				</div>
				<div class="form-group">
					<label for="name">姓名：</label> <input id="name" placeholder="请输入姓名"
						type="text_register" name="tel" required>
				</div>
				<div class="form-group">
					<label for="email">电话：</label> <input id="tel" placeholder="请输入电话"
						type="text_register" name="tel" required>
				</div>
				<div>
					<label for="password">密码:</label> <input type="password_register"
						class="form-control input-dark" placeholder="请输入密码" name="passwd" id="passwd"
						autocomplete="off" ng-model="passwd" required />

				</div>
			
			<div align="center" style="margin-top:20px;">
					<input type="button" id="add_btn" class="button" value="添加学生">
						
				</div>
			</form>
</div>
</body>
</html>