@CHARSET "UTF-8";
.table{
	background-color: #ffffff;
}
.table thead{
	align:center;
	background-color: #c0c0c0;

}
.table th{
	width:25%;
}
.botton_list{
	margin: 0;
	margin-left: 20px;
	width:25px;
}
.main_controller{
	width: 1000px; 
	margin: 0 auto;
}