<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false"
	xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t] %p %c - %m%n" />
		</layout>
	</appender>

	<appender name="RollingWindowsFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/logging/UIDPubSubAndroid.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="INFO" />
		<param name="MaxFileSize" value="50MB" />
		<param name="BufferedIO" value="false" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t] %p %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>

	<appender name="RollingWindowsErrorFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/logging/UIDPubSubAndroid.log" />
		<param name="Threshold" value="WARN" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="5MB" />
		<param name="BufferedIO" value="false" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t] %p %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<appender name="RollingLinuxFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/opt/logs/UIDPubSubAndroid.log" />
		<param name="Threshold" value="INFO" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="50MB" />
		<param name="BufferedIO" value="false" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t] %p %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>

	<appender name="RollingLinuxErrorFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/opt/logs/UIDPubSubAndroid.log" />
		<param name="Threshold" value="WARN" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="5MB" />
		<param name="BufferedIO" value="false" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t] %p %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="RollingWindowsFileAppender" />
		<appender-ref ref="RollingWindowsErrorFileAppender" />
	</root>

</log4j:configuration>
